body {
    margin: 0;
    font-family: 'Robot', sans-serif;
}
/* header css*/

.container {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    color: #F9FAF8;
    align-items: center;
}

.header {
    width: 1000px;
}

.box {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

li {
    font-size: 18px #e5e7eb;
}

.header-content {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}

.heading {
    width: 350px;
}
img {
    border-radius: 10px;
    width: auto;
    height: 210px;
}

h1 {
    margin: 0;
    font-weight: 48px extra-bold #F9FAF8;
}

button {
    border-radius: 5px;
    background: #1b92cd;
    color:#F9FAF8;
    padding: 10px 20px;
    font-weight: 900;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

/*content first section*/

.dogs {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 40px;
}
